body {
  padding: 0;
  margin: 0;
}

#map {
  height: 50vh;
  background-color: purple;
}

.legend {
  padding:0.5rem;
	background-color: white;
}

.legend i {
  display:inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
}